[2015-06-07 21:51] f2prateek opened #1 "Accept Dictionary<String, Any>"

[2016-09-20 11:58] Sianay opened #5 "Support Swift 3.0"
Hi, would be nice to support swift 3

[2016-09-21 16:32] ssoper commented on #5
Found a Swift 3 fork [here](https://github.com/mihai8804858/analytics-swift). Tests appear to pass.

[2016-10-03 16:35] f2prateek commented on #5
Agreed, I'll add support for Swift 3 but unfortunately no ETA at this time. PRs welcome however!

[2016-10-03 16:37] f2prateek commented on #5
I'd recommend using `analytics-ios` as mentioned in our README
https://github.com/segmentio/analytics-swift#analytics-swift-

analytics-ios  works with Swift https://github.com/segmentio/analytics-ios

[2016-10-12 08:16] atom2ueki commented on #5
@f2prateek [https://github.com/segmentio/analytics-ios](url) have any implement sample in swift way ?

[2017-02-13 21:03] f2prateek commented on #5
@atom2ueki sorry for the delay - all the tests are written in swift https://github.com/segmentio/analytics-ios/tree/master/AnalyticsTests

[2017-03-03 02:17] atom2ueki commented on #5
@f2prateek thanks man!

[2017-06-15 15:13] vjujjavarapu commented on #5
@f2prateek  Does this support Swift 3.0 at the moment or is this project abandoned

[2017-06-24 23:16] f2prateek commented on #5
@vjujjavarapu This project does not support Swift 3.0 at the moment. It's not abandoned, if there are any bugs you have with the existing version feel free to raise them and we'll address those. Missing features are not bugs though.

You can use `analytics-ios` as well.

[2017-06-26 13:47] vjujjavarapu commented on #5
@f2prateek ty

[2017-08-26 17:42] f2prateek commented on #5
Closed by #7

[2017-08-26 17:42] #5 closed

[2017-11-18 00:45] #1 closed

[2018-05-10 18:29] Natelegreat1 opened #9 "Support Swift 4.*..."
Any plans? :)

[2018-05-10 20:34] f2prateek commented on #9
hey @Natelegreat1, not currently - I would check out analytics-ios since it has more features and supports Swift as well!

[2018-05-10 21:14] Natelegreat1 commented on #9
@f2prateek yeah... I tried it but couldn't get the very first step `SEGAnalyticsConfiguration *configuration = [SEGAnalyticsConfiguration configurationWithWriteKey:@"YOUR_WRITE_KEY"];`
 to stop crashing... 👎 I will post an Issue on the other Repository

[2018-05-10 21:14] #9 closed

[2019-06-10 22:30] Dfmarulanda opened #12 "Error Implementing this library."
Terminating app due to uncaught exception 'NSInternalInconsistencyException', reason: 'library must be initialized before calling this method.'
*** First throw call stack:

[code]

[2019-09-11 11:17] maryjenel commented on #12
Anyone find a solution to this? I'm getting the same error

[2021-01-25 20:12] jasonhr13 opened #14 "Namespace Clash with Reachability"
Why would you try to take the Reachability name when there is a popular pod called Reachability?

We use Reachability for our own network checks and your Analytics pod clashes with that pod since you try to set NS_SWIFT_NAME(Reachability) you should always use a more specific name like SEGReachability

[2021-05-05 00:29] alanjcharles commented on #5
Links are updated or removed since we do not have the proper documentation quite yet.

[2021-07-14 19:15] JetForMe opened #32 "Adding SPM dependency to Xcode with default "up to 1.0.0" results in package resolution error due to sovran URL"
**Describe the bug**
When you add `analytics-swift` to an Xcode project, the default is to have it fetch "up to next major from <current version>". Unfortunately, tag 1.0.0's Package.swift contains a reference to Sovran `git@github.com:segmentio/Sovran-Swift.git`, which Xcode fails to pull, getting

[code]
Your `main` branch has an updated `Package.swift`. You should probably make a new tag in git

[2021-07-21 19:00] migs647 commented on #32
Thanks for calling this out @JetForMe. I'll take a look at this. Sovran is needed, we will look at auth issues with that. Will update.

[2021-07-26 18:46] migs647 commented on #32
@JetForMe I was able to replicate your issue. You need to set up your ssh keys with github. I tested on a fresh user account without any ssh keys and ran into your issue. Unfortunately, even though our package.swift is using https and use the https analytics-swift portion, Xcode _forces_ Sovran to a ssh format .. ie git@github.com:segmentio/analytics-swift.git. Once I added my SSH key, it works as

[2021-07-27 07:42] JetForMe commented on #32
I'm not sure it's correct that Xcode forces Sovran to use `git@…`. I'm currently using a specific git commit hash to pull from your main branch, and it works just fine. In that branch, your `Package.swift` refers to Sovran using `"https://github.com/segmentio/Sovran-Swift.git"`

Requiring setting up SSH keys makes build automation that much harder to deal with.

[2021-08-04 00:37] bsneed commented on #32
@JetForMe let me know if the 1.0.2 that just got tagged solves it for you.

[2021-08-04 18:43] JetForMe opened #34 "Xcode 13b4: 'shared' is unavailable in application extensions for iOS: Use view controller based solutions where appropriate instead."
[code]

Xcode 13b4 introduced (erroneously, I think) a bug in which restrictions on APIs like being unavailable in extensions trigger errors, even when building applications. The usual fix for this is to declare the same restriction on the library's published methods.

You get this error by trying to build an iOS app in Xcode 13b4 with Segment as an SPM dependency.

[2021-08-04 18:45] bsneed commented on #34
thanks!

[2021-08-06 16:58] bsneed commented on #32
Gonna assume the answer is "YES" here. :D

[2021-08-06 16:58] #32 closed, assigned to bsneed, migs647

[2021-08-06 19:02] #34 closed, assigned to bsneed

[2021-08-17 12:38] tcldr opened #41 "Setting trackApplicationLifecycleEvents to false strips context"
Hi,

I've noticed that if `trackApplicationLifecycleEvents` is set to false, the context is stripped from all events.

I imagine this line should sit before the conditional block:

https://github.com/segmentio/analytics-swift/blob/ebdd751f1a04030c78ff4bdc787e0519f6bfe21f/Sources/Segment/Startup.swift#L44

One other thing: I would actually like to use application lifecycle events but I prefer a dif

[2021-08-18 12:27] tcldr opened #42 "Destination plugin calls `update(settings:)` multiple times"
**Describe the bug**
The included AppsFlyer example currently results in the plugin reaching an indeterminate state.

I'm not sure whether this is because the example needs to be re-architected, or because the plugin architecture is not behaving as it was designed.

My expectation is that the set-up for AppsFlyer should always be done prior to `AppsFlyerLib.shared().start()` being called.

However

[2021-08-18 12:36] tcldr commented on #42
I should also add that I moved the `applicationDidBecomeActive(application:)`, `openURL(_ url:)` and `receivedRemoteNotification(userInfo:)` methods outside of the body of the `update(settings:)` method because afaict they are meant to be called as part of the destination's conformance to `iOSLifecycle` – but perhaps I'm missing something here.

[2021-08-18 21:51] bsneed commented on #41
Thanks @tcldr, I'll look into this ASAP!

[2021-08-18 21:52] bsneed commented on #42
I'll have a look at this and see if I can get some more clarity here as to what's happening.  Is your implementation relatively similar to the DestinationExamples demo app in the repo?

[2021-08-19 12:08] tcldr commented on #41
@bsneed my pleasure.

[2021-08-19 12:09] tcldr commented on #41
Really liking this library. So lightweight compared to most other analytics dependencies!

[2021-08-19 12:12] tcldr commented on #42
Yeah, it's basically a copy and paste of the example. The only thing I really changed is moving the app lifecycle methods outside of the `update(settings:)` function body as I thought that was most likely unintentional :)

[2021-08-19 16:51] bsneed commented on #41
Also found that on macOS, the correct VendorSystem class isn't getting returned.  Doh!!  Fixing that too.

[2021-08-19 17:18] #41 closed, assigned to nobody

[2021-08-21 10:09] tcldr opened #47 "Publicly Accessible UploadTask"
**Is your feature request related to a problem? Please describe.**
Currently, on iOS, the only way to run an upload as a well behaved background task seems to be to opt-in to lifecycle events. That's because the current implementation seems to rely on an internal UploadTaskInfo in the SegmentDestination which is only accessible to internal clients.

AFAICT this means there is no simple way to crea

[2021-08-21 12:51] tcldr opened #48 "Data loss after quick successive calls to `flush()`"
**Describe the bug**
Assuming the Segment debugger is showing all events, I've noticed that certain event are frequently lost when there are multiple calls to flush in a row.

**To Reproduce**
Add the following to your `sceneDidBecomeActive(_:)` or similar:
[code]

**Expected behavior**
Events 0-9 appearing in Segment's source debugger.

**Actual behavior**
*Most* events arrive but... missing one

[2021-08-23 16:40] bsneed commented on #48
Looking ...

[2021-08-23 17:31] bsneed commented on #48
Hi @tcldr, I verified what you're seeing here, but all events are being sent out.  See this bit in the segment documentation:

https://segment.com/docs/connections/sources/debugger/

[code]

^ that was news to me as well, but it is accurate and no events are being lost.  The flushing in quick succession is what's causing the debugger to not sample some parts of the event stream.

[2021-08-23 17:31] #48 closed, assigned to bsneed

[2021-08-23 18:05] tcldr commented on #48
Good to know. Thanks for taking a look!

[2021-08-23 20:04] bsneed commented on #42
Would love to hear your thoughts here @tcldr .

Digging into this further, much of it stems from the fact that some destination SDKs are singletons while others are not.  While we don't want to prevent some SDKs from being able to update when settings are changed on segment.com, but we need to protect against those who can't function this way, such as AppsFlyer here.

I think the choices seem to b

[2021-08-24 06:24] tcldr commented on #42
Hi @bsneed ,

Thanks for taking a look at this. Yes, I certainly see the difficulty. Of the options listed I would probably go with 3, but perhaps with an additional flag which leaves Plugin developers with no doubt that this is an initial launch vs a restart e.g. update(settings:isRestart:) or a dual API of `applyInitial(settings:)` and `update(settings:)`.

However, I'm not sure how this solves

[2021-08-24 20:20] JetForMe opened #51 "track(event:properties:) takes [String:Any], but screen(screenTitle:properties:) takes [Any:Hashable]"
**Describe the bug**
There's a bit of mismatch/asymmetry between the various `track` and `screen` methods. Namely, `track(event:properties:)` takes `[String:Any]`, but `screen(screenTitle:properties:)` takes [Any:Hashable]`.

**Expected behavior**
I'd expect these to take the same thing, unless there's some reason they can't.

**Platform (please complete the following information):**
 - Library Ve

[2021-08-25 19:36] bsneed commented on #51
Good find!  Will post the change shortly.

[2021-08-25 19:39] #51 closed, assigned to bsneed

[2021-08-25 19:43] bsneed commented on #47
Hi @tcldr, I'm not sure I understand what you're asking for here.

Background segment uploads are handled via a SegmentDestination extension in iOSLifecycleMonitor.  I don't think we'd want to push that out to the customer to implement on their own.

[2021-08-25 20:00] bsneed commented on #42
Hi @tcldr,

It very much works like you describe already.  Those changes are relatively recent on master, so not sure if you have them yet.  StartupQueue is doing the storage/replay of events until we're in a running state.

update(settings: ) is called whenever we receive settings... these cases would be:

1. on first-launch-ever once the /settings endpoint has data.
2. on launch if we have setti

[2021-08-25 20:49] tcldr commented on #42
That’s great to hear! It would be a shame to miss those early identify/attribution events.

I know a lot of this is getting rapidly sorted out so I hope I’m not creating to much noise here.

[2021-08-25 20:49] #42 closed, assigned to bsneed

[2021-08-25 21:07] bsneed commented on #42
No, not at all!  We're very appreciative of the feedback, questions and discussion.  Helps us make it all better. :D

[2021-08-25 21:18] tcldr commented on #47
So, afaict at the moment it uses beginBackgroundTask(expirationHandler:) to attempt a last push to Segment’s server as the app resigns active. And as far as I know this particular task type won’t postpone or rerun if there is no network.

So if that fails I’d like to be able to attempt an upload when the network finally is available.

Going back to my favourite scenario, first launch after install

[2021-08-25 21:42] bsneed commented on #47
Ahh... I think I get it now.

Would a version of flush() with an optional completion handler suffice for what you wanna do?  And if so, would you be willing to do a utility plugin we could include in the examples for others to use/copy/modify?

[2021-08-25 23:37] bsneed commented on #47
Actually, n/m, that idea I had won't work.  It's not structured like that.  Flush ends up calling flush on every destination and I can't tell when all of them would be complete.  Even the segment flush issues multiple uploads depending on what's waiting to go out.  Will continue to think on this.

[2021-08-26 09:09] tcldr commented on #47
A completion handler would be good, but I’d forgotten that cancellation is important too. If the system needs resources elsewhere it gives background tasks an opportunity to exit cleanly. I understand the system applies penalties to apps with tasks that don’t exit promptly when cancellation is requested by the system. e.g. no longer given time on the background scheduler.

That’s why I originally

[2021-08-26 17:29] bsneed commented on #47
@tcldr would you have time at some point to jump on a zoom call with me and discuss this further?

[2021-08-26 18:09] tcldr commented on #47
Yeah, we can do that.

Theoretically the operation *should* be quick if the device has decent network – it’s not downloading 100s of images or anything.  On the other hand, i don’t know what the plug-ins that people build will do.

But I would think a completion handler would be bare minimum to make use of Apple’s BG tasks API as you need to mark your task as ‘done’ in order for the scheduler to m

[2021-08-27 09:09] tcldr opened #54 "Background task not cancelling when requested by system"
**Describe the bug**
As mentioned on our call, here's the warning that I'm regularly getting from the system.

` [BackgroundTask] Background task still not ended after expiration handlers were called: <_UIBackgroundTaskInfo: 0x2835fdd40>: taskID = 4, taskName = Called by <AppName>, from $s7Segment0A11DestinationC14UploadTaskInfoV3url4taskAE10Foundation3URLV_So016NSURLSessionDataD0CtcfC, creationTi

[2021-08-28 21:56] AndrewSB opened #55 "Current Status?"
Hey! I was upgrading my segment libraries and I saw this, I think it would be very useful to have a current status of the project in a README, so prospective's like me can decide whether or not we want to switch from analytics-ios to this

[2021-09-07 23:35] JetForMe opened #58 "Docs for identify(userID:traits:) say to pass nil for userID, but it's non-optional"
**Describe the bug**
The header docs for `identify(userID:traits:)` say to pass `nil` for `userID` if you don’t have a user ID, but it's a non-optional String.

I need to be able to clear the identified user if the user logs out of our app.

[2021-09-14 15:36] dannyhertz opened #61 "Drop SPM watchOS min version to 6.0"
**Is your feature request related to a problem? Please describe.**
We need to support watchOS 6.0 for our app and would really like to this this SDK.

**Describe the solution you'd like**
Drop the min supported watchOS version from 7.1 to 6.0

**Describe alternatives you've considered**
Not using this SDK

**Additional context**
Since you already support iOS 13 and I can't seem to find any used AP

[2021-09-14 15:52] bsneed commented on #61
Hi @dannyhertz,

Thanks for inquiring about this.  Unfortunately we can't do that.  Lifecycle tracking would be severely effected in doing so, namely that it'd have to be done completely differently.  If you clone it and set it to 6.0, you can see the errors and incompatibilities pop up.

[2021-09-14 15:52] #61 closed, assigned to bsneed

[2021-09-14 16:11] dannyhertz commented on #61
Ah, okay. Thanks for the explanation and fast response!

[2021-09-14 17:05] bsneed commented on #61
No problem @dannyhertz!  Sorry I couldn't make that happen for you. :(

[2021-09-18 10:34] tcldr commented on #58
Yeah, I need this too – for the period where a user ID hasn't been retrieved yet. In the mean time, I'd like to add traits to an anonymous user.

[2021-09-30 12:43] Jeehut opened #69 "Main Thread Checker: UI API called on a background thread: -[UIView init]"
**Describe the bug**
Calling `Analytics.init()` crashes my app with the following error:
[code]

The line causing the crash is this in `AppleUtils.swift`s `userAgent` computed property:
[code]

**To Reproduce**
Steps to reproduce the behavior:
1. Call the initializer of `Analytics` from a background thread (e.g. `utility`)

**Expected behavior**
Analytics is a task that I expect to work in the bac

[2021-09-30 15:51] bsneed commented on #69
Thanks @Jeehut !

[2021-09-30 15:52] #69 closed, assigned to bsneed

[2021-09-30 16:03] bsneed commented on #58
This is an error in the documentation, and I'll correct that.

If a user logs out of the app, you should call analytics.reset();  I'll make this documentation change/clarification as well.

[2021-09-30 16:04] bsneed commented on #58
You should call `identify(traits: )` in this case.

[2021-09-30 16:04] #58 closed, assigned to bsneed

[2021-10-16 16:14] tcldr opened #75 "Incorrect timestamp formats"
Looking at the raw events delivered to Segment, I've noticed a discrepancy in the timestamps:

[code]

You can see that the `originalTimestamp` and `sentAt` dates use a different format than the `receivedAt` date – there's an additional colon prior to the timezone signifier.

When using it with the Amplitude Actions plugin and trying to map the `originalTimestamp` to Amplitude's `timestamp` proper

[2021-10-25 16:58] JetForMe commented on #32
Yes! I'm so sorry. I had this message flagged for weeks (months!) and got so busy at work, I forgot why I flagged it, but kept thinking I didn't have time to deal with it. Thank you for the rapid fix!.

[2021-10-25 17:04] bsneed commented on #32
No worries at all!  My pleasure.  :high-five:

[2021-10-26 15:23] #75 closed, assigned to bsneed

[2021-10-26 16:34] bsneed commented on #55
Not entirely sure what you mean by status @AndrewSB, but we're currently in public beta, which is present at the top of the readme.

[2021-10-26 16:34] #55 closed, assigned to bsneed

[2021-10-26 16:35] bsneed commented on #54
Hi @tcldr; I think maybe this could be because the debugger is attached.  Is it possible for you to verify?  Please reopen this issue if that's not the case.

[2021-10-29 21:40] JetForMe opened #89 "Compile error in Release configuration archiving with 1.0.4"
**Describe the bug**
The following compile-time errors occur in Segment 1.0.4 when archiving a `Release` configuration app:

[code]

I'm not sure why it works in `Debug` configuration builds, but it seems odd to be throwing a `String`. I tried searching but couldn't find an `Error` conformance for `String` in the package.

[2021-11-02 16:51] oscar-tome commented on #89
Any chance this will be resolved promptly? It's currently blocking us from adopting the framework.

[2021-11-02 17:45] JetForMe commented on #89
I reverted to 1.0.3 to be able to build, but I'd really like to see this fixed so I can suppress all the extra logging in 1.0.3.

[2021-11-02 17:48] bsneed commented on #89
@oscar-tome @JetForMe looking into it now.  one moment.

[2021-11-02 18:44] bsneed commented on #89
Resolved in 1.0.5.

Thanks for reporting this!  Looks like it's been there for a bit.  Issue was actually in something Sovran-Swift was exporting.

[2021-11-02 18:44] #89 closed, assigned to bsneed

[2021-11-03 14:15] JetForMe commented on #89
Works great! Somehow we were also throwing strings in our own code (not code I wrote 😆), and had even added our own protocol conformance on `String` to `Error` for release builds. This is much better.

[2021-11-03 18:37] oscar-tome commented on #89
Closing the circle here: build works and adoption is continuing at the planned pace. We're starting to see reporting show up in the servers and, having had experience with several analytics tracking frameworks, I'd say that this one's on the better side of things.

[2021-11-03 18:41] bsneed commented on #89
Hi @oscar-tome We appreciate that feedback very much!  Thank you!

[2021-11-17 18:34] davisg123 opened #97 "Where did all the releases go?"
Github is only listing the latest release 1.0.6 now... was that intentional?

```Dependencies could not be resolved because no versions of 'analytics-swift' match the requirement 1.0.5 and root depends on 'analytics-swift' 1.0.5.```

https://github.com/segmentio/analytics-swift/releases

[2021-11-17 19:38] bsneed commented on #97
Holy moly, it was NOT intentional.  Ugh.  I just updated my gh util via brew, I wonder if that's what did it.  I've run this script many times now and that's never happened and it hasn't changed. :(

[2021-11-17 19:45] bsneed commented on #97
Will report back once I understand what happened.  In the meantime, I'll add 1.0.5 back (albeit without release notes.  Ugh)

[2021-11-17 19:50] bsneed commented on #97
I republished the tags from my local and everything is showing up again.  If it disappears again, I'll do the same.  I've gotta test the gh tool to see if that's what's causing it so it may likely happen again.

[2021-12-03 18:47] vthommeret opened #100 "Unable to add package"
**Describe the bug**

I've been trying to add this library for many days / have added other libraries via Swift Package Manager (e.g. Firebase) successfully, but have been running into issues with Segment specifically. I believe it was initially related to Segment requiring being added via SSH vs HTTPS but I've added my laptop's SSH keys to Github and believe it's working correctly (correct status

[2021-12-03 21:31] migs647 commented on #100
@vthommeret I was not able to reproduce this. I created a brand new Github account (so my work account would not interfere with permissions). Instead of my normal path of creating a ssh key via: https://docs.github.com/en/authentication/connecting-to-github-with-ssh/generating-a-new-ssh-key-and-adding-it-to-the-ssh-agent, I used your method by generating an access token in Github via Settings -> D

[2021-12-03 21:31] #100 closed, assigned to bsneed

[2021-12-03 22:05] vthommeret commented on #100
Thanks for your thorough repro steps! I tried using a brand new iOS app project, creating a brand new SSH key (which Xcode verified and was uploaded to GitHub), deleted my Derived Data, build and clean, created a new access token, and everything still failed.

One thing that stood out to me in the error message: `/Users/vthommeret/Code/Loopable/github.com:segmentio/analytics-swift.git` is that it

[2021-12-21 00:29] Nickforall commented on #54
@bsneed Just a heads up that this occurs on a release build without a debugger attached as well. Which results in a state change (app gets killed)

My testflight users are seeing the same behavior

[code]

[2021-12-22 15:23] rstone4-chwy opened #102 "Missing Screen Events"
**Describe the bug**
We're integrating Segment into our telemetry system. But we're seeing  calls to `.screen(title:category:properties)` not being processed and visible in the debugger. I've validated that the event is written to disk in `Storage.write<T: Codable>(_:value)` and that it is being retrieved in `SegmentDestination.flush()` and sent to the Segment servers, with a success result in the

[2022-01-05 18:24] #97 closed, assigned to bsneed

[2022-01-05 19:27] bsneed commented on #102
Hi @rstone4-chwy,

Looking into this now and I'm not able to reproduce what you're seeing.  It appears to be working fine best I can tell.  If you could share more specifics about how your calling it, some example code or something, it might be helpful.  Please see the attached screenshots for what I'm seeing here.

<img width="915" alt="Screen Shot 2022-01-05 at 11 25 42 AM" src="https://user-ima

[2022-01-06 18:52] rstone4-chwy commented on #102
Hi @bsneed,
Thanks for help on this. We swapped in the ObjC module to keep things moving and I've swapped the Swift version back in to check this. I'm no longer able to replicate the issue. It was one of those situations where everything pointed to me doing something wrong except that I could validate everything else appeared in the debugger except this very specific scenario. I was able to track

[2022-01-07 18:54] bsneed commented on #102
@rstone4-chwy ah, I see.  One thing to know about the segment debugger is that it's just a sampling of events.  The higher the volume of events coming in, the more likely you'll not see certain things show up.  Glad you're sorted now, please reopen if you need any more assistance here.

[2022-01-07 18:54] #102 closed, assigned to bsneed

[2022-01-12 02:48] JetForMe commented on #54
I see this, too.

[2022-01-12 17:52] bsneed commented on #54
Gonna spend some time today looking into this further.  Thanks for the reports!

[2022-01-18 03:55] MajuMadhusudanan opened #109 "macOS - Support for both x64 and M1 chipset"
I'm getting the following error when i add package and rebuild macOS apps. Our apps target both intel chipset as well as M1 apple silicon chipset.

/AppDelegate.swift:14:8: error: could not find module 'Segment' for target 'arm64-apple-macos'; found: x86_64, x86_64-apple-macos, at: ~/Documents/GitHub/********/Build/Products/Debug/Segment.swiftmodule
import Segment

Will you support both chipsets?

[2022-01-18 04:39] bsneed commented on #109
The package builds from source.  It sounds like the module is not being found at all.  I'd check your build config as that's where the issue probably lies.  Please reopen if you need further assistance.

[2022-01-18 04:39] #109 closed, assigned to bsneed

[2022-01-18 05:47] MajuMadhusudanan commented on #109
I don't see any build config issue. because i have other frameworks added into the same project. Only analytics-swift throws processor architecture mismatch error.

I have added the package using the below link: https://github.com/segmentio/analytics-swift
<img width="761" alt="Screenshot 2022-01-18 at 11 17 17 AM" src="https://user-images.githubusercontent.com/23079368/149878213-ac49aa32-37e5-4fc

[2022-01-18 05:57] MajuMadhusudanan opened #110 "macOS - Support for both x64 and M1 chipset"
I don't see any build config issue. because i have other frameworks added into the same project. Only analytics-swift throws processor architecture mismatch error.

I have added the package using the below link: https://github.com/segmentio/analytics-swift
<img width="761" alt="Screenshot 2022-01-18 at 11 17 17 AM" src="https://user-images.githubusercontent.com/23079368/149878213-ac49aa32-37e5-4fc

[2022-01-19 09:00] MajuMadhusudanan commented on #109
This issue still exists. Anyone else facing this issue ?

[2022-01-19 21:06] bsneed commented on #109
I'm pretty sure it's something in your project.  I build/run on an M1 Mac all day long.  Maybe you can post the compiler output.

[2022-01-19 21:08] bsneed commented on #110
It already supports both of these.  Your project's build active architecture should be set to no if you intend on running the binary elsewhere on a different platform.

[2022-01-19 21:08] #110 closed, assigned to nobody

[2022-01-20 00:59] MajuMadhusudanan commented on #110
I'm getting the following error:

Could not find module 'Segment' for target 'arm64-apple-macos'; found: x86_64, x86_64-apple-macos, at: /Users/majumadhusudanan/Documents/GitHub/mac/DerivedData/desktop/Build/Products/Debug/Segment.swiftmodule

[2022-01-24 17:42] bsneed commented on #54
I have narrowed it down to the cause.  Inside of flush(), we plow through any pending files that need to be sent off and there's no notion of a timeout, which there should be.  If there's lots of them, we won't be able to get through them in the time allotted of course.  Trying to figure out the best way to correct this.

[2022-01-24 18:05] bsneed commented on #54
@JetForMe @Nickforall are either of you setting flushInterval or flushCount properties to something other than the defaults?

I do see we've set up background tasks, and a completion handler where we call endBackgroundTask. I'm wondering if we're loading up so much network activity that going to suspend all those upload tasks is taking too long.

[2022-01-24 18:15] Nickforall commented on #54
FlushInterval was set to 10, I think i copied this from the example in the
docs.

On Mon, 24 Jan 2022 at 19:05, Brandon Sneed ***@***.***>
wrote:

[2022-01-24 20:23] bsneed commented on #54
Thanks @Nickforall !  I think I've got it fixed in the PR above.  At least I couldn't reproduce it anymore.  Please feel free to have a look if you're so inclined.

[2022-01-24 20:25] bsneed commented on #54
@tcldr see above^. thanks for the original report!

[2022-01-24 20:25] #54 closed, assigned to bsneed

[2022-01-24 23:44] JetForMe commented on #54
No, we're using the defaults.

[2022-01-28 16:53] jfrodden opened #113 "Feature Request: Build Facebook App Events Destination plugin"
**Is your feature request related to a problem? Please describe.**
We're trying to migrate away from CocoaPods towards Swift Package Manager for our dependency management and the lack of SPM support of [FacebookAppEvents](https://github.com/segment-integrations/analytics-ios-integration-facebook-app-events) is blocking us from completing that goal.

**Describe the solution you'd like**
We'd like t

[2022-01-28 19:04] bsneed commented on #113
Thanks @jfrodden!

If I were to write this for you over the next couple of days, would you be able to test it?

[2022-01-28 19:27] jfrodden commented on #113
a qualified yes: modulo any other issues we encounter with moving the other libraries over to SPM (since they all seem to need to move in lock-step), along with any issues we encounter moving to the new (still in beta) version of segment sdk

[2022-01-28 20:13] bsneed commented on #113
Excellent, I'll take a stab at it and let you know when I've got something for you to try.

Thanks so much @jfrodden !

[2022-02-16 21:12] bsneed commented on #113
@jfrodden please see changes in #118 and lemme know how they work for you!  Thanks so much!

[2022-02-16 21:12] #113 closed, assigned to bsneed

[2022-02-17 18:30] JobGetabu opened #120 "Where is the documentation for beta version ?"

[2022-02-23 23:39] jfrodden commented on #113
I'm able to add this repo via SPM now, but we also rely on other Segment related libraries which trigger some sort of conflict with this version:
- https://github.com/AppsFlyerSDK/segment-appsflyer-ios
-  https://github.com/segment-integrations/analytics-ios-integration-firebase

Any pointers on how to get all this functionality to co-exist via SPM would be greatly appreciated.

[2022-02-24 18:17] bsneed commented on #113
Heya @jfrodden

You can't mix analytics-swift and analytics-ios in the same codebase.  Has to be one or the other.  There's destination plugins for both of those in the analytics-swift repo under the /examples folder already.

[2022-02-24 18:20] bsneed commented on #113
@jfrodden also of note, we're working on making some of these destinations shown in the examples folder actual supported components with their own repos and packages.  In the meantime, you should be able to copy the destinations you need from the examples folder to your own codebase.

[2022-02-24 19:09] bsneed commented on #120
Have a look at the readme ... ?   https://github.com/segmentio/analytics-swift#documentation

[2022-02-24 19:09] #120 closed, assigned to bsneed

[2022-03-01 02:41] Tronicnotes opened #122 "SwiftUI App not tracking Application Opened event"
**Describe the bug**
When integrating the analytics library into our SwiftUI app, the "Application Opened" event is not being triggered.  It appears the `UIApplication.didFinishLaunchingNotification` notification is not being received and triggering the `iOSLifecycle` protocol method `didFinishLaunchingWithOptions` to track the event.

**To Reproduce**
Steps to reproduce the behavior:

1. Create a

[2022-03-14 18:15] migs647 commented on #122
This issue will also affect the "Application Updated" and "Application Installed" events.

[2022-03-14 21:55] migs647 commented on #122
Fixed: https://github.com/segmentio/analytics-swift/pull/126

[2022-03-14 21:55] #122 closed, assigned to migs647

[2022-03-23 10:40] grzegorzkrukowski opened #129 "Events passed to Segment through the library are not passed automatically to Amplitude"
**Describe the bug**
We lately switched from our own http client to this library to get batching support, but we noticed that all events that are going through this library are not sent to our Amplitude destination.

We are passing exactly the same properties and events as through our old library and we use exactly same setup, but the one that goes through analytics-swift are only visible in Segme

[2022-03-23 18:01] bsneed commented on #129
@grzegorzkrukowski Events aren't transferred instantly, they're queued up to reduce network traffic.  See flushCount, flushInterval in the configuration.  To manually flush events, call the `flush()` method.

[2022-03-23 18:01] #129 closed, assigned to bsneed

[2022-04-06 15:17] chrisrecalis opened #133 "Enable macOSLifecycleEvents"
**Describe the bug**
`trackApplicationLifecycleEvents` has no impact when running under macOS. No life cycle events are tracked.

**To Reproduce**
Steps to reproduce the behavior:
1. Setup analytics in a macOS environment with `.trackApplicationLifecycleEvents(true)`
2. Inspect networking no life cycle events get tracked

**Expected behavior**
Expected life cycle events Application Installed, Appl

[2022-04-11 23:19] 215eight opened #137 "Network object is missing carrier information"
**Describe the bug**

In `analytics-swift` the network object does not include the `carrier` property whereas `analytics-ios` did. Below a comparison of both objects

`analytics-ios v4.1.3`
[code]

`analytics-swift v1.2.0`
[code]

**To Reproduce**
Steps to reproduce the behavior:
1. Using the `analytics-swift` library log an event
2. The event metadata will not include the `carrier` property in th

[2022-04-11 23:31] 215eight opened #138 "Integrations object not populated in SDK 1.2.0"
**Describe the bug**
After migrating from `analytics-ios` v1.1.2 to v1.2.0, the integrations field did not contain any information.
When this happens events are shown in the live debugger for a source but do not reach the source destinations.

**To Reproduce**
1.  Add an integration like AppsFlyer to the segment client.
2. On `v1.1.2 ` trigger a track event and notice how the integrations object h

[2022-04-12 16:41] bsneed commented on #133
@migs647 looking into this.

[2022-04-12 17:06] bsneed commented on #138
@215eight please update to 1.2.3.  Reopen if that doesn't solve the issue, but I suspect it will.

[2022-04-12 17:07] bsneed commented on #138
The integrations object will not longer be populated.  It'll all be in a metadata field now.

[2022-04-12 17:21] 215eight commented on #138
Thanks a lot for the response. It will very helpful to get a an example of the analytics event in json format showcasing the new location of the integrations object. In addition to this, is there any configuration that is needed on the SDK to get these values included in the event payload?

Thanks in advance

[2022-04-12 17:29] bsneed commented on #137
@215eight cellularServiceProvider was deprecated in iOS 12.  We made the decision to not include this information because of the format changes that would be required in switching over to serviceSubscriberCellularProviders.

[2022-04-12 17:29] #137 closed, assigned to bsneed

[2022-04-12 17:32] bsneed commented on #138
No problem!  Once you're on 1.2.3, you should see the metadata field being populated correctly.  It's not intended for customers to modify this directly.  If you can explain your use case I can guide you to a proper solution.

[2022-04-12 17:35] 215eight commented on #137
Thanks a lot for the background on the decision here. As a customer that is upgrading from the 'analytics-ios` to the `analytics-swift` library this is seen as a regression issue because the `carrier` information was used before and is now no longer present. Is there a workaround you can offer?

Also, should I open a feature request to keep this in the roadmap in case it is also useful for other c

[2022-04-12 17:46] bsneed commented on #137
@215eight No problem.  I can write a sample plugin that would live in your code to get this information in there and make it available to everyone via the /examples folder.  Should just take a few minutes.

[2022-04-12 19:42] 215eight commented on #138
I did the upgrade to 1.2.3 and the issue is not resolved. Below the event using the same app configuring the SDK the same way, just with a different SDK version.

This is hoe the SDK is configured,  two plugins are added during initialization. I assume the integrations object will report information based on the integrations added. If you can share how the integration object is populated / what it

[2022-04-12 20:10] bsneed commented on #138
Don't get hung up on the contents of the integration object.  It's now unused so the change there isn't unexpected.  Those appear to be abbreviated event payloads.  Look for the __metadata field that is in there, what does that look like?  Have you checked your braze and AppsFlyer instances to see if events arrived?

[2022-04-12 20:48] 215eight commented on #138
After updating to 1.2.X, no events where flowing to Braze or AppsFlyer
although the events are received in segment. Trying to find the root cause
between the different SDK and the integrations object seemed to be the
culprit.

There is certainly something new in the 1.2.X SDK that is breaking our
pipeline

Not sure how to get to the metadata of the event from the live debugger.
Would you be able t

[2022-04-12 21:06] bsneed commented on #138
Let me dig here some more and see what could be happening.  Will reopen this while I do that.  From what I can tell your setup appears to be correct.  If you look in your local debugger in Xcode, open up SegmentDestination.swift, you can put a breakpoint on the `queueEvent` method in there and see the full raw payload contents.  The Segment online debugger where you're seeing events has stripped o

[2022-04-20 17:33] bsneed commented on #138
@215eight can you give this another try?  Support was able to reproduce this, and then it seemed to magically fix itself.  We believe there may have an issue on the back end that got fixed by another team.

[2022-04-20 19:03] 215eight commented on #138
We will give it a try, thanks for following up on this.

Could you please provide more information on the root cause of the problem?

The team tries to ensure all functionality and pipelines are functional
before submitting a release to the App Store but once a client goes out
with the SDK in it, it is out of our control. The only way to fix it is by
pushing a hotfix which take days to be processe

[2022-04-20 19:29] bsneed commented on #138
No problem!  Let me know how your testing goes.  Please reach out to support for the finer details as I don't have insights on all the various bits of infrastructure that could've caused this.

[2022-04-20 19:29] #138 closed, assigned to bsneed

[2022-04-20 23:58] migs647 commented on #133
PR: https://github.com/segmentio/analytics-swift/pull/141

[2022-04-26 18:34] #133 closed, assigned to migs647

[2022-05-09 17:25] bsneed commented on #47
Doesn't seem like we're gonna be able to do this anytime soon unfortunately.

[2022-05-09 17:25] #47 closed, assigned to bsneed

[2022-05-24 02:48] rollyceballos opened #145 "Repetitive logging from library"
**Describe the bug**
A clear and concise description of what the bug is.  My Xcode debug console is flooded by repetitive thread_policy_set logs

[code]

**To Reproduce**
Steps to reproduce the behavior:
1. Setup simple integration
[code]
2. Run the app
3. See the logs

**Expected behavior**
Logs should not have repetitive and unneeded logs from library

**Screenshots**
[code]

**Platform (please

[2022-05-24 04:45] bsneed commented on #145
That log is not from our library. In no place do we even set thread policy details. Most likely something in your app or another library.

[2022-05-24 04:45] #145 closed, assigned to bsneed

[2022-05-24 12:39] rollyceballos commented on #145
This only shows up when using the segment swift library. If I don't start/init (and even remove) Segment these repetitive logs disappear.

[2022-05-24 13:29] bsneed commented on #145
https://developer.apple.com/forums/thread/699925

[2022-05-27 04:59] rollyceballos commented on #145
Thank you @bsneed for that find.  Really appreciate it.  I've been searching for hints of discussions about this log flooding and this is the only link I get it being discussed appropriately.  So it is an Apple bug.

[2022-05-27 19:37] bsneed commented on #145
@rollyceballos No problem!  Yeah it looks that way unfortunately. :(

Hopefully they fix it soon, I can imagine how annoying that must be.  As to why it shows up with Segment, and not without, could be that because we create some threads of our own, along with any in your app, and it throws it past some threshold to start logging that code..  Not sure of course, just a hypothesis.

[2022-07-20 09:38] leogiroux opened #149 "Installation issue"
<img width="1187" alt="Capture d’écran 2022-07-20 à 11 37 24" src="https://user-images.githubusercontent.com/12122348/179950471-87663af2-46cf-48e9-9881-71d0be00269e.png">

[2022-07-20 09:39] leogiroux commented on #149
Had to use exact version on the dependency rule.

[2022-07-20 09:39] #149 closed, assigned to bsneed

[2022-08-09 12:23] dimapupena opened #150 "Xcode says that i can not use this framework, how i could resolve it ?"
i am trying to add segmentio/analytics-ios to my project and use it, but i have got an error that this framework can be compiled only for target 13+ but i have 11+ in my project, probably you could provide some workarounds or how i could use your framework in my case ?

when i am trying to import Segment, i get an error "Compiling for iOS 11.0, but module 'Segment' has a minimum deployment target

[2022-08-10 16:23] nickjf89 opened #151 "Identify call doesn't appear in web debugger with certain userId value"
**Describe the bug**
I am calling the `identify` method with a hashed copy of the user's email address. This never appears in the web debugger, but when I change the `userId` to something short, such as my first name or "test", it works without issue. Is there a character limit applied? The segment debugger doesn't show any signs of errors.

**To Reproduce**
Steps to reproduce the behavior:
1. Do

[2022-08-11 10:32] grzegorzkrukowski opened #152 "SegmentDestination is causing huge CPU spikes when blocked by LittleSnitch"
**Describe the bug**
When using LittleSnitch to block traffic to Segement.io from our application, we are getting huge CPU Spikes really often, and when entering foreground/background -  basically every time the `flush` is called.

I think there are several problems in `SegmentDestination`:
1. Storage can grow without limits - old events that are not sent are never removed.
2. Storage is keeping f

[2022-08-11 11:43] nickjf89 commented on #151
I've since found that there seems to be a character limit applied, as passing `ee1d83696ded26626ad9fd3` (a shortened version of the original id) is sent correctly.

Can you advise if this is a bug or expected? For context, we have other teams identifying with strings this length, it only seems to be a problem on the iOS sdk.

[2022-08-11 16:48] bsneed commented on #152
Looking at this today.

[2022-08-11 16:48] bsneed commented on #151
Looking at this today

[2022-08-11 18:38] bsneed commented on #152
@grzegorzkrukowski could you have a look at or maybe try the PR above and see if it resolves the issue for you?  Thanks!

[2022-08-11 19:05] bsneed commented on #151
I'm not able to reproduce this.  See the image below.  I think you might not be seeing it because events in the debugger are only a sampling of events, not every event that's received.  Best to check your downstream destinations to see if it's arriving on that end.

<img width="1167" alt="image" src="https://user-images.githubusercontent.com/235787/184219272-64d7aa34-22ac-4fd4-9508-70f15e88a914.pn

[2022-08-11 19:05] #151 closed, assigned to bsneed

[2022-08-11 19:07] grzegorzkrukowski commented on #152
hey @bsneed I am afraid it won't really help in our case at least. Spikes will still happen every time application goes from background to foreground when `flush` is triggering independently from the timer itself.

The main problem I think is inside a `flush` execution itself. It opens all existing cached files and creates a network request for every single one. Those requests are then canceled st

[2022-08-11 19:12] bsneed commented on #152
Thanks for the quick response @grzegorzkrukowski, I'll revisit this and see how to make that happen.  It's likely though that we'll separate out the storage thing into something else.  We have SLAs around data loss and capping it would result in that so will continue thinking on how to best solve that problem separately.

[2022-08-11 19:32] grzegorzkrukowski commented on #152
Ok, I understand your perspective. At the moment the biggest issue at least for us is `flush` method logic that is really heavy if you try to resend every cached batch on each `flush` call - creating all those network calls.
From my debugging process, it seems that it's more about network calls themselves being recreated so often and in such a huge amount when all of 1500 requests created fail str

[2022-08-12 11:21] nickjf89 commented on #151
These identify events are not filtering through to Amplitude. I can see other events coming through, but they are retaining the old identify value (the shortened version I identified with previously).

So at this point, if I use the longer (and correct) value, I never see this in Segment debugger (even though ever other value I pass to identify is shown there), and I never see it in Amplitude.

[2022-08-12 11:21] nickjf89 commented on #151
Please reopen this issue @bsneed

[2022-08-23 16:24] bsneed commented on #152
Hi @grzegorzkrukowski!  We looked into how we'd like to address this a little more and we think a stackable flush policy  is probably the way to go, along with some access to the storage made public.  I don't currently have an ETA on when this will be complete yet.  It does look like you have a temporary workaround going at the moment though.  We've made a ticket internally that links back to here

[2022-09-08 12:32] grzegorzkrukowski opened #154 "Application is crashing on Storage errors"
**Describe the bug**

We are getting crash reports coming from the Segment library.
According to crash logs, it's related to problems with writing files by a Storage class.

The problem seems to be related to using some deprecated methods of FileHandler class, which are throwing uncatchable errors:
[code]

**To Reproduce**
Steps to reproduce the behavior:
1. Try to send any Segment event when disc

[2022-09-10 20:45] jhurray opened #155 "Request: Add `options` to all `analytics-swift` callsites"
**Is your feature request related to a problem? Please describe.**
I'm trying to migrate from `analytics-ios` to `analytics-swift` and the main issue I'm running into is migrating `options`.

We use `Protocols` + `Typewriter` for our project, so adding `options` values to `parameters` will break our schema. We're using options for supplementary, non-critical context, and it would be great to re-ad

[2022-09-17 18:52] bsneed commented on #155
@jhurray can you provide an example of what you're passing in via the options param on analytics-ios?  We purposefully removed that because it was being used as a workaround for a handful of things on analytics-ios and we didn't want to perpetuate it.  If you can show me an example of how you're using it, I can give you a path forward.

[2022-09-17 18:53] bsneed commented on #154
@grzegorzkrukowski will have a look at this, thanks!!

[2022-09-17 18:55] bsneed commented on #150
Our minimum deployment target is iOS 13, yes.  Unfortunately, the best I can suggest is to make a fork and perform the modifications to support iOS 11.

[2022-09-17 18:55] #150 closed, assigned to bsneed

[2022-09-20 16:59] jgable opened #156 "Setting the apiHost in the configuration has no effect"
**Describe the bug**
Setting the apiHost in the configuration has no effect, events are still sent to api.segment.io/v1 regardless of the configuration values for apiHost.

[code]

Steps for repro:

I have created an example app with repro in a fork: https://github.com/kraftful/analytics-swift/tree/jgable/api-host-repro (specific commit is ce5331dfd60ca82870c27a1a38268d8e9d6c4577)

- Clone the abo

[2022-09-22 14:04] jasonbobier opened #157 "Doesn't build clean on Xcode 14 because of type 'Any' is not optional"
**Describe the bug**
analytics-swift/Sources/Segment/Utilities/JSON.swift:54:14 | type 'Any' is not optional, value can never be nil; this is an error in Swift 6

**To Reproduce**
Build package on Xcode 14.

**Expected behavior**
Should build clean with no warnings

[2022-09-29 18:12] LarrrrryT opened #158 "trackPushNotifications missing from SDK"
**Describe the bug**
Based on the Segment Documentation for the SDK there should be a function to enable automatic tracking for push notifications opens.  This isn't available on on the latest version 1.3.1.  Is this rolled up into deep links perhaps?

https://segment.com/docs/connections/sources/catalog/libraries/mobile/ios/#api-call-queueing-in-analytics-ios

<img width="734" alt="Screen Shot 20

[2022-10-01 14:00] frangrolemund opened #159 "Zombie Analytics after deallocation."
**Describe the bug**
Creating and deallocating the Analytics instances doesn't stop them from sending events to the back-end sources.

**To Reproduce**
Steps to reproduce the behavior:
1. Allocate Analytics instance (1) with support for lifecycle events and connected to the Segment source.
2. Background the app and watch for application lifecycle event to appear in Segment debugger.
3. Deallocate

[2022-10-06 21:13] #155 closed, assigned to bsneed

[2022-10-06 21:13] bsneed commented on #158
An example plugin for this is in progress by @alanjcharles

[2022-10-14 21:20] malhotrachetan commented on #159
Any updates on this?

[2022-10-14 21:28] malhotrachetan opened #162 "[Segment ERROR - finish(file:):320] Unable to rename to temp warning/error"
**Describe the bug**
A clear and concise description of what the bug is.

Coming across a very weird debug message lately since the last update. The message appears around 20 secs post starting the app. The message says:

`[Segment ERROR - finish(file:):320]
Unable to rename to temp: file:///Users/chetanmalhotra/Library/Developer/CoreSimulator/Devices/094C9BEE-0AB5-4345-AB1D-2CA907B66033/data/Cont

[2022-10-14 21:33] malhotrachetan commented on #162
Updated to 1.3.2, still happening.

[2022-10-15 17:32] bsneed commented on #162
looking ...

[2022-10-15 17:55] bsneed commented on #157
Fixed with #161

[2022-10-15 17:55] #157 closed, assigned to bsneed

[2022-10-15 18:05] bsneed commented on #162
I'm unable to reproduce this.  I'm using the example app located in analytics-swift/examples/apps/BasicExample.xcworkspace.  From the looks of it, it seems to be failing to create the directory for the given writekey.  Line 196 in Storage.swift.  Can you see what the results of that are on your end?

[2022-10-15 18:33] frangrolemund commented on #159
If it matters, it is possible to work around this issue by explicitly de-initializing elements of the segment client using their public APIs for the internal objects.  Although that allowed me to make progress, I'd expect any commercial library to clean up after itself correctly which is why I opened this issue.  That feels like a reasonable prerequisite.

[2022-10-15 20:45] bsneed commented on #159
It's on my short to-do list.  Looking at some of these storage issues currently and will circle back soon.

[2022-10-16 17:59] bsneed commented on #162
You might try the branch above and see if that helps any.

[2022-10-16 18:17] malhotrachetan commented on #162
Hey! Just tried out with the above mentioned branch. Now i am getting:
<img width="934" alt="Screenshot 2022-10-16 at 11 46 56 PM" src="https://user-images.githubusercontent.com/13315992/196051432-1465b2e6-4781-4b76-bc8a-b5f7f8de13e3.png">

[2022-10-16 19:21] bsneed commented on #162
Can you verify if those files or folders exist and those error messages are legit?

[2022-10-16 20:33] malhotrachetan commented on #162
Yes the directory with writeKey name does infact exist, thus the file name "14-segment-events" or is missing.

[2022-10-16 20:59] bsneed commented on #162
I didn't quite understand that last part.

You should have a 14-segment-events or a 14-segment-events.temp.

[2022-10-17 09:22] malhotrachetan commented on #162
I meant there is a directory created with the writeKey name but neither 14-segment-events nor 14-segment-events.temp is created.

[2022-10-17 19:31] bsneed commented on #159
Fixed in #164

[2022-10-17 19:31] #159 closed, assigned to bsneed

[2022-10-17 19:32] bsneed commented on #162
Are you able to create and write to files manually in that directory?

[2022-10-18 00:39] bsneed commented on #156
This currently works as intended.  The idea was before you've received results from Segment's /settings endpoint, you may have a preference for EU vs US endpoints.  Segment settings has the final say, but we acknowledge this is problematic when intending to use a proxy (which I assume you're wanting to do).  We'll look at this soon and try and figure out a good path forward.  In the meantime feel

[2022-10-18 06:24] malhotrachetan commented on #162
Good point. Let me check this.

[2022-10-18 14:34] alanjcharles commented on #158
Hi @LarrrrryT we decided against including this as a config option in the SDK and instead made a more agnostic example plugin, [found here](https://github.com/segmentio/analytics-swift/blob/main/Examples/other_plugins/NotificationTracking.swift). Please feel free to copy and/or alter it to suit your needs!

[2022-10-18 14:34] #158 closed, assigned to bsneed

[2022-10-18 18:30] malhotrachetan commented on #162
hey! As you feared, no I cannot create manually too. Got this:

`mkdir: /20-segment-events: Read-only file system`

[2022-10-18 19:01] bsneed commented on #162
Ok, gotcha.  So it's all explained now.  I'm not sure why you have a read-only file system.  Do you know?

[2022-10-19 07:26] malhotrachetan commented on #162
Idk. Apple ships it like this maybe? Anyway, so I got around making the root volume writable. Now i can make a directory/file manually in the writeKey named folder but I still get the message.

[2022-10-25 17:37] #154 closed, assigned to bsneed

[2022-10-25 17:39] bsneed commented on #162
Apple doesn't ship a readonly file system (not intentionally anyway).  Closing this as I've merged the PR and it should be good.  Please let me know if you see issues.  I need lots of details about what you're seeing etc to further assist.

[2022-10-25 17:39] #162 closed, assigned to bsneed

[2022-10-28 12:39] jackgene commented on #156
If this is "working as intended", can you please documented it clearly in the Analytics Swift documentation - https://segment.com/docs/connections/sources/catalog/libraries/mobile/swift-ios/

I just spent several hours last night trying to understand why our events aren't going through our proxy with the apiHost configuration set.

In fact, from my troubleshooting, it is unclear to me if what you

[2022-10-28 17:04] jackgene commented on #156
Just to confirm, this is the workaround you are proposing, correct?
https://github.com/segmentio/analytics-swift/compare/main...jackgene:analytics-swift:main

If so, it is not working for me. As I pointed out in my last comment, `apiHost` on the Configuration object doesn't appear to be being read at all. Let me know if I've missed anything else.

Thank you.

[2022-10-28 17:34] bsneed commented on #156
@jackgene  It is being read, I assure you.  See HTTPClient.swift.  That workaround is no longer necessary once this PR is merged: https://github.com/segmentio/analytics-swift/pull/165.  Documentation will be updated before a point release is made.

[2022-10-28 17:59] nekto-zum opened #166 "CocoaPod installation supprot"
Hi! Do you plan to add CocoaPods support for this library as it is done for the Objective-C one? Or down the road Swift Package Manager will be the only supported one?

Asking mostly to understand if I should go through the hassle of integrating with source codes or wait for pods support.

Thanks!

[2022-10-28 18:06] bsneed commented on #166
Hi @nekto-zum,

We won't be adding Cocoapods support.  They're too slow in supporting platform changes, etc.  It'll be SPM only from here on out.  The previous libs will deprecated soon.  Let me know if there's anything I (or we) can help with as you move through things.

[2022-10-28 18:06] #166 closed, assigned to bsneed

[2022-10-28 18:07] nekto-zum commented on #166
Thanks for a quick reply!

[2022-10-28 18:09] bsneed commented on #166
No problem!!

[2022-10-28 18:26] jackgene commented on #156
Appreciate your assurance, but the Swift debugger disagrees with you.

But if you can point me to the actual line of code where the apiHost from the configuration object is being passed to HttpClient, that will facilitate our troubleshooting.

Alternatively, please give us a timeline on when your proposed fix will be merged.

I want to mention that as a paying customer, we do not appreciate your a

[2022-10-28 18:33] bsneed commented on #156
@jackgene There was no "tone".  I'm just sharing facts.  As an employee here trying to help you, I don't appreciate yours so lets take it down a notch.  See the line below as to where it's being read.

https://github.com/segmentio/analytics-swift/blob/93314b0a12aca4e9f2b6da9541cfcb86b40610c7/Sources/Segment/Utilities/HTTPClient.swift#L30-L52

The fix has already been merged since we first spoke.

[2022-10-28 20:29] jackgene commented on #156
The lines you highlighted is the initializer for HTTPClient (called "constructor" in other languages). It shows that the initializer accepts an `apiHost`, and defaults it to `nil` when no value is passed in - more on initializers here - https://docs.swift.org/swift-book/LanguageGuide/Initialization.html. But the key point is these lines of code do _not_ show `apiHost` being read from the Configura

[2022-10-28 20:55] bsneed commented on #156
Thanks for all those super useful links.

Here, I'll paste the code for you since it seems difficult for you to see it on GitHub.

[code]

Low and behold, apiKey gets set from the configuration value that was specified if null was passed into the constructor.  HTTPClient is a somewhat generic class that lost its way a little over time.  But wait, there's more!

Just a few lines down ....

[code]

[2022-10-28 21:08] jackgene commented on #156
You may want to re-read this issue.

It is about `apiHost` not applying to the `HTTPClient`, _NOT_ `apiKey` or `writeKey`.

[2022-10-28 22:55] bsneed commented on #156
Ya got me.  My apologies, apiKey has been front and center for me all week.  I'll make a PR for the default setting of apiHost in the coming days, however that doesn't seem like what you needed in the first place.  The linked PR has more along the lines of what you and the original poster of this bug were looking for.  See Configuration.requestFactory which gives you full control over all the deta

[2022-10-28 23:03] bsneed opened #167 "Setting of apiHost is not being honored before being overwritten by /settings endpoint."
The apiHost stored in the Configuration object is not being given to HTTPClient.  It only ends up being correct once we bring down data from the /settings endpoint.  While this happens pretty rapidly, it's not sufficient.  This issue has nothing to do with proxying of Segment calls as it became determined in #156.  See Configuration.requestFactory for proxying.

[2022-10-28 23:04] bsneed commented on #156
Actually, I'll reopen this as another issue that omits the confusion.

[2022-10-28 23:04] #156 closed, assigned to bsneed

[2022-10-28 23:35] jackgene commented on #156
I think you are right, that the `requestFactory` override is more what I need.

And apologies if my frustration was coming through, but my point was that I knew I was _writing_ the `apiHost` value on the `Configuration` object, but I wasn't seeing it have any effect.

Going through the code manually, and having Xcode try and find all references to `Configuration.Values.apiHost`, I find a couple of

[2022-10-29 16:29] bsneed commented on #156
No worries at all!  Glad requestFactory does the trick for you and you're back in business.  Hope you have a good weekend as well.  Ttys!

[2022-10-31 17:25] #167 closed, assigned to bsneed

[2022-11-01 00:33] nekto-zum opened #169 "No way to reset user id"
**Describe the bug**
There is a way to set user id and traits but there is no way to reset it (for example, if user logs out). It seems it is just a typo in the method definition as method description actually allows that:

[code]

[2022-11-07 20:42] alanjcharles commented on #169
Hi @nekto-zum you can reset a userId with the `reset()`  method: https://github.com/segmentio/analytics-swift/blob/main/Sources/Segment/Analytics.swift#L166

[2022-11-07 20:42] #169 closed, assigned to bsneed

[2022-11-07 20:49] bsneed commented on #169
@alanjcharles can you update the documentation he cited?  It's a bit confusing.

[2022-11-07 20:56] nekto-zum commented on #169
I would actually argue that the `reset()` option you are proposing is a bit too nuclear for a general usage. Imagine you have login/logout events. I don't necessary want to reset _everything_, I want just to drop user id. Can more granular setting be added? As I mentioned in the referenced code it is actually supported to pass nil...

[2022-11-07 23:00] bsneed commented on #169
While I can understand your point of view, the intent here is to preserve privacy of the user(s).  By resetting the anonymousId/user/etc via reset() there's nothing to link it back to a previous session. Our other libraries work this way and previous libs have worked this way for quite some time.  So calling `reset()` is the recommended path for what you're attempting to do.

[2022-11-08 15:38] seanrucker opened #172 "Support for "Application Foregrounded" Events"
The SDK automatically tracks lifecycle events, including an "Application Backgrounded" event in the `applicationDidResignActive` hook. In the corresponding `applicationDidBecomeActive` hook, the current implementation uses a flag to track an "Application Opened" event the first time it is called (which makes sense) but there is no event tracked on every call of `applicationDidBecomeActive`.

I am

[2022-11-08 15:58] seanrucker opened #174 "The `os.name` context is reported incorrectly on macOS"
The `MacOSVendorSystem` uses `device.operatingSystemVersionString` for the `systemName` property. I believe this is incorrect as it is resulting in values such as "Version 12.5.1 (Build 21G83)" being reported as the name of the operating system. On iOS it uses `device.systemName` which results in "iOS" being reported as the name of the operating system, which is what I would expect.

**To Reproduc

[2022-11-08 22:15] alanjcharles commented on #174
Hi @seanrucker! It seems Apple deprecated `operatingSystem()` and `operatingSystemName()` awhile back for macOS and this is the correct method to return the system name. However, I take your point about the stuff in parens, let me get back to you on that.
<img width="571" alt="image" src="https://user-images.githubusercontent.com/50601149/200686851-84bb8f62-cad0-4b2f-aed7-cc272f4714e6.png">

[2022-11-08 22:22] seanrucker commented on #174
Maybe it makes sense just to hardcode it to "macOS"? Even without the parenthesis in the name, it's hard to work with. The name "Version 12.5.1" doesn't tell me that it's coming from a macOS device and makes it difficult to filter in analytics tools.

On iOS it simply reports "iOS" for the name and on iPadOS it reports "iPadOS" which is what I would expect.

I want to be able to produce reports in

[2022-11-09 21:22] #174 closed, assigned to bsneed

[2022-11-15 03:40] dcow opened #177 "Crashes observed in OutputFileStream due to EXC_BAD_ACCESS."
Recently we've noticed crashes coming from [the new OutputFileStream code](https://github.com/segmentio/analytics-swift/pull/163). An example stack trace is included at the end of this issue.

While digging into this, we noticed the switch from the [foundation FileHandle API](https://developer.apple.com/documentation/foundation/filehandle) to the [older POSIX API](https://pubs.opengroup.org/online

[2022-11-15 17:33] bsneed commented on #177
Hi @dcow, the posix API wasn't my first choice, as a matter of fact I didn't find it fun to use at all, haha.  The file handle API seems to be changing with every release and I was attempting to shield us from that.  I understand regarding some of the issues you point out.  Thread synchronization in this case is handled upstream and not sure on the specifics about dubious pointer handling.

I had

[2022-11-15 22:44] dcow commented on #177
Ignoring the details of which API you're using, we're seeing errors coming from the Segment library. Since we're customers of Segment, this needs to be addressed by your team first and foremost in whatever matter you see fit. In fact, we just saw another one of these errors come in last night. It's affected 4 of our users this past month.

The rest was just advice as to what might be causing the e

[2022-11-15 23:16] dcow commented on #177
Actually, I just tried it in a playground.

[code]
Which yields our error:
[code]

[2022-11-28 16:37] dcow commented on #177
@bsneed bump. We're seeing an increasing number of these crashes (as more of our users update).